.profile {
  height: 150px;
  width: 45%;
  border: 1px solid black;
  display: flex;
  margin: 10px 5px 10px 5px;

  @media (max-width: 917px) {
    width: 100%;
  }

  @media (max-width: 400px) {
    height: 300px;
    display: block;
    width: 350px;
  }

  &__image {
    width: 150px;
    height: 90%;
    margin-top: 10px;
    margin-left: 10px;

    @media (max-width: 400px) {
      height: 150px;
      margin: 10px auto;
    }

    img {
      border-radius: 25px;
    }
  }

  &__content {
    margin-left: 15px;

    @media (max-width: 400px) {
      margin: 10px 70px;
      width: 100%;
    }

    &--title {
      text-decoration: underline;
    }
  }
}

.divider {
  margin-top: 15px;
  height: 110px;
  width: 1px;
  background-color: black;

  @media (max-width: 400px) {
    display: none;
  }
}

.dontShow {
  display: none;
}

.show {
  display: flex;

  @media (max-width: 400px) {
    display: block;
  }
}