.nationSearch {
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(53, 179, 53);
  color: #f0f0f0;
  width: 120px;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(28, 122, 28);
  }
  
  &__dropDown {
    display: none;

    &--active {
      display: block;
    }

    &--item {
      cursor: pointer;

      &:hover {
        background-color: darkgreen;
      }
    }
  }
}